.DS_Store
.buildpath
.idea/
.project
.settings/
et.iml
app/tmp/logs/*.txt
app/views/cron/cron*
static/photos/*.png
static/photos/mousem.png
static/photos/parkerj.png
*.db
*.gz
*.screen
*.cache
/nbproject/
config.php
.tmp
www
test-code.php
CHANGELOG.md
CHANGELOG.mdown
READEME.mdown
tests
Tests
phpunit
composer.json
composer.lock
app/plugins/etsis-smtp/
app/plugins/amazonS3Backup/
app/plugins/degree-audit/
app/plugins/hidden-fields/
app/plugins/any-sms/
etmigrate.php
phinx.php
