/*
00 - select picker
------------------------------------------------------------*/
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
 display: inline-block;
 float: none;
 margin-bottom: 10px;
 margin-left: 0;
}
.form-search .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.bootstrap-select.form-control {
  border: none;
  padding: 0;
}
.bootstrap-select.btn-group.pull-right, .bootstrap-select.btn-group[class*="span"].pull-right, .row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
 float: right;
}
.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
 width: 220px;
}
.bootstrap-select {
  width: 220px\0;
}
.bootstrap-select.form-control:not([class*="span"]) {
 width: 100%;
}
.bootstrap-select > .btn {
  width: 100%;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.dropdown-menu {
  z-index: 2000;
}
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 2051;
}
.bootstrap-select.btn-group .btn .filter-option {
  left: 12px;
  overflow: hidden;
  position: absolute;
  right: 25px;
  text-align: left;
}
.bootstrap-select.btn-group .btn .caret {
  margin-top: -2px;
  position: absolute;
  right: 12px;
  top: 50%;
  vertical-align: middle;
}
.bootstrap-select.btn-group > .disabled, .bootstrap-select.btn-group .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group[class*="span"] .btn {
 width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: static;
}
.bootstrap-select.btn-group .dropdown-menu dt {
  cursor: default;
  display: block;
  padding: 3px 20px;
}
.bootstrap-select.btn-group .div-contain {
  overflow: hidden;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li > a.opt {
  padding-left: 35px;
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li > a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li > a i {
  color:#BBB;
  height:16px;
  margin-left:-12px;
  margin-right:3px;
  position:relative;
  text-align:center;
  width:16px;
}
.bootstrap-select.btn-group .dropdown-menu li:hover > a i {
  color:#FFF;
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
  display: inline-block;
  margin-right:0;
  margin-top: 2.5px;
  position: absolute;
  right: 15px;
}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
  display: none;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small {
 color: #64b1d8;
 color: rgba(255, 255, 255, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: -4px;
  content: '';
  display: inline-block;
  display: none;
  left: 9px;
  position: absolute;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: -4px;
  content: '';
  display: inline-block;
  display: none;
  left: 10px;
  position: absolute;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  border-bottom: 0;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: auto;
  top: -3px;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  border-bottom: 0;
  border-top: 6px solid #ffffff;
  bottom: auto;
  top: -3px;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  left: auto;
  right: 12px;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  left: auto;
  right: 13px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.mobile-device {
  display: block !important;
  height: 100% !important;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
  margin-top: -1px;
  position: static;
  top: auto;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select-searchbox {
  padding: 4px 8px;
}