/*
00 - code pretty print
------------------------------------------------------------*/
code .str, pre .str {
  color: #e6db5a;
}

code .kwd, pre .kwd {
  color: #66d9ef;
}

code .com, pre .com {
  color: #75715e;
  font-style: italic;
}

code .typ, pre .typ {
  color: #66d9ef;
}

code .lit, pre .lit {
  color: #ae81ff;
}

code {
  .pln, .pun {
    color: #fff;
  }
}

pre {
  .pln, .pun {
    color: #fff;
  }
}

code .tag, pre .tag {
  color: #f92672;
}

code .atn, pre .atn {
  color: #a6e22a;
}

code .atv, pre .atv {
  color: #e6db74;
}

code .dec, pre .dec {
  color: #ae81ff;
}

code.prettyprint {
  background-color: #2E2E31;
  border: 1px #272822 solid;
}

pre {
  &.prettyprint {
    background-color: #2E2E31;
    border: 1px #272822 solid;
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;
    width: 100%;
  }
  &.prettyprinted {
    border: 1px solid #0b0c0a;
    box-shadow: inset 0 0 1px 2px #3c3d39, 0 0 15px rgba(0, 0, 0, 0.5);
  }
}

ol.linenums {
  color: #75715e;
  list-style: decimal inside!important;
  margin-bottom: 0;
  margin-top: 0;
}

@media print {
  code.prettyprint {
    background-color: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #000;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
  }
  pre {
    &.prettyprint, &.prettyprinted {
      background-color: #fff;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      color: #000;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -khtml-border-radius: 0;
    }
  }
  code .str, pre .str {
    color: #060;
  }
  code .kwd, pre .kwd {
    color: #006;
    font-weight: 700;
  }
  code .com, pre .com {
    color: #600;
    font-style: italic;
  }
  code .typ, pre .typ {
    color: #404;
    font-weight: 700;
  }
  code .lit, pre .lit {
    color: #044;
  }
  code .pun, pre .pun {
    color: #440;
  }
  code .pln, pre .pln {
    color: #000;
  }
  code .tag, pre .tag {
    color: #006;
    font-weight: 700;
  }
  code .atn, pre .atn {
    color: #404;
  }
  code .atv, pre .atv {
    color: #060;
  }
}