
.easychart {
  display: inline-block;
  height: 110px;
  position: relative;
  text-align: center;
  width: 110px;
  canvas {
    left: 0;
    position: absolute;
    top: 0;
  }
  .percent {
    @extend .box-circle;
    background-color: #FFF;
    color: #CCC;
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 118px;
    margin: 10px 10px 10px 18px;
    z-index: 2;
    &:after {
      content: '%';
      font-size: .5em;
      margin-left: 0.1em;
    }
  }
}

.easy-chart {
  display: inline-block;
  position: relative;
  text-align: center;
  canvas {
    left: 0;
    top: 0;
  }
  .percent {
    color: #a7a7a7;
    display: block;
    font-size: 22px;
    height: 100%;
    margin-left: 0.2em;
    position: absolute;
    width: 100%;
    z-index: 2;
    &:after {
      content: '%';
      font-size: .5em;
      margin-left: 0.1em;
    }
    &.up, &.down {
      margin-left: 0;
    }
    &.up:before {
      border-bottom: 5px solid #A9D96C;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      margin-right: 0.2em;
      position: relative;
      top: -15px;
    }
    &.down:before {
      border-bottom: 5px solid #A9D96C;
      border-bottom: transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #f00;
      content: '';
      margin-right: 0.2em;
      position: relative;
      top: -15px;
      top: 17px;
    }
  }
}

.showcase {
  padding: 25px 0;
  position: relative;
}

.showcase-pie-easy {
  ul {
    margin-left: 15%;
    width: 100%;
    li {
      font-size: 16px;
      padding: 10px 0;
      padding-right: 5%;
      text-align: right;
      width: 80%;
      &:first-child {
        border-bottom: 1px #DDD solid;
        font-size: 20px;
      }
      small {
        color: #CCC;
        display: block;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .easy-chart {
    background-color: #FFF;
    left: 5%;
    position: absolute;
  }
}

.showcase-chart-knob {
  padding: 25px 0 0;
  span {
    display: inline-block;
    position: absolute;
    i {
      display: inline-block;
      position: absolute;
    }
  }
  h5 {
    font-size: 18px;
    margin-top: -25px;
    position: relative;
    i {
      color: #CCC;
      font-size: 50px;
      left: 50%;
      margin-top: -75px;
      position: absolute;
    }
  }
  span {
    a {
      color: #AAA;
      display: block;
      text-transform: capitalize;
    }
    small {
      display: block;
      font-size: 24px;
      &:after {
        content: "%";
        font-size: 0.8em;
      }
    }
    i {
      color: #CCC;
      font-size: 25px;
    }
    &:nth-child(1) {
      left: 0%;
      text-align: left;
      a {
        padding-left: 35px;
      }
    }
    &:nth-child(2) {
      right: 0%;
      text-align: right;
      i {
        font-size: 30px;
        right: 0%;
        top: -5px;
      }
      a {
        padding-right: 20px;
      }
    }
  }
}