/*
00 -  google map
------------------------------------------------------------*/
#Gmap {
  bottom: 0px;
  left: 0;
  position: absolute;
  right: 0;
  top: 55px;
}

#mapSearch {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  left: 40px;
  padding: 0;
  position: absolute;
  right: 30%;
  top: 62px;
  .form-control, .btn {
    border: 1px solid transparent;
    border-radius: 0;
    margin: 0;
  }
}

.real-boxs {
  .form-control, .btn {
    border: 1px solid transparent;
    border-radius: 0;
    margin: 0;
  }
}

#mapSetting {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  position: absolute;
  right: -200px;
  top: 96px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 200px;
  .dropdown-menu {
    margin: 10px 0;
  }
  &.active {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  .mapTools {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    left: -38px;
    position: absolute;
    top: 10px;
  }
  .panel-body {
    padding-bottom: 0px;
  }
}

#mapControl {
  background-color: #FFF;
  bottom: 0px;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.125);
  left: 0px;
  overflow: auto;
  overflow: hidden;
  position: absolute;
  right: 0px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &.active {
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
  }
  .panel {
    margin-bottom: 0px;
  }
}

#mapSetting .panel {
  margin-bottom: 0px;
}

#mapControl .cp-slider-wrapper {
  padding: 10px 5px 5px;
  nav a {
    height: 34px;
    line-height: 34px;
    top: 2px;
    width: 34px;
  }
}

#mapDetail {
  padding: 15px;
}
