
.site-logo {
  background: url(../img/logo_.png) no-repeat center center;
  display:block;
  height:75px;
  position:relative;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #header .logo-area a.logo {
    background: url(../img/logo2x.png) no-repeat center center;
    background-size: 120px 30px;
  }
  .site-logo {
    background: url(../img/logo_2x.png) no-repeat center center;
    background-size: 75px 75px;
  }
}
